<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.title}</title>
        <h:outputStylesheet library="css" name="main.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.heading}</h1>

            <h:selectOneRadio value="#{money.calculationType}" >
                <f:selectItem itemValue="loan" itemLabel="#{msgs.loan}"/>
                <f:selectItem itemValue="future" itemLabel="#{msgs.future}"/>
                <f:selectItem itemValue="savings" itemLabel="#{msgs.savings}"/>
            </h:selectOneRadio>

            <h:panelGrid columns="2">
                <h:outputLabel value="#{msgs.input}" for="inputValue"/>
                <h:inputText value="#{money.inputValue}" id="inputValue"/>
                <h:outputLabel value="#{msgs.interest}" for="interestValue"/>
                <h:inputText value="#{money.rate}" id="interestValue"/>
                <h:outputLabel value="#{msgs.term}" for="termValue"/>
                <h:inputText value="#{money.term}" id="termValue"/>
                <h:outputLabel value="#{msgs.result}" for="resultValue"/>
                <h:inputText value="#{money.result}" readonly="true" id="resultValue"/>

                <h:commandButton type="submit" value="#{msgs.submit}"  styleClass="btn" action="#{calculate.performCalculation()}"/>
                <h:commandButton type="submit" action="#{money.cancel()}" value="#{msgs.reset}" styleClass="btn2" />
            </h:panelGrid>
        </h:form>
    </h:body>
</html>